# dependencies
node_modules/

# production build
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local

# Media files
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv

# IDE/editor stuff
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
